<!doctype html>
<html ng-app="raceViewApp" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind="(menu.currentSection.name || 'Confinale Race View') + (menu.currentPage ? (' > ' + (menu.currentPage | humanizeDoc)) : '')">
        Confinale Race View</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body layout="horizontal">

<md-sidenav layout="vertical"
            class="md-sidenav-left md-whiteframe-z2"
            component-id="left"
            is-locked-open="$media('md')">

    <md-toolbar class="md-theme-light md-medium-tall">
        <h1 class="md-toolbar-tools" style="padding-top:25px;">
            <a href="#/" ng-click="goHome()">Confinale<br/>Race View</a>
        </h1>
    </md-toolbar>

    <md-content flex>
        <div ng-repeat="section in menu.sections">

            <button class="menu-item menu-title"
                    ng-class="{active: menu.isSectionSelected(section)}"
                    ng-click="menu.toggleSelectSection(section)"
                    ink-ripple>
                {{section.name}}
            </button>

            <a class="menu-item menu-sub-item"
               ng-show="menu.showPage(section, page)"
               ng-repeat="page in section.pages"
               ng-class="{active: menu.isPageSelected(section, page)}"
               ng-href="#{{page.url}}"
               ink-ripple>
                <span ng-bind="page | humanizeDoc"></span>
            </a>

        </div>
    </md-content>

</md-sidenav>

<div layout="vertical" layout-fill tabIndex="-1" role="main">
    <md-toolbar class="md-theme-dark md-medium-tall app-toolbar">

        <div class="md-toolbar-tools" ng-click="openMenu()">
            <button class="menu-icon" hide-md aria-label="Toggle Menu">
                <img src="images/ic_menu_24px.png"/>
            </button>
            <p hide show-sm ng-if="menu.currentSection.name">
                {{menu.currentSection.name}}
            </p>
            <span layout="vertical" layout-align="center center" class="menu-separator-icon" ng-if="menu.currentPage">
              <img style="height: 16px;" src="images/docArrow.png" alt="" aria-hidden="true" hide block-sm>
            </span>

            <h2 ng-bind="(menu.currentPage | humanizeDoc) || 'Confinale Race View'" flex></h2>
        </div>

        <div class="md-toolbar-tools api-options-bar">
            <span flex></span>

            <div ng-if="!!currentUser.pictureUrl" style="background-image: url('{{currentUser.pictureUrl}}')"
                 ng-class="{face:!!currentUser.pictureUrl}" ng-href="#/account"></div>
            <a ng-if="!!currentUser" ng-href="#/account" ng-bind="currentUser.displayName"></a>
            <a ng-if="!currentUser" ng-href="#/login">Login / Register</a>
        </div>

    </md-toolbar>

    <md-content ng-view scroll-y flex class="md-content-padding"></md-content>

</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55776775-1');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
<script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angularytics/dist/angularytics.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/angularfire/config.js"></script>
<script src="scripts/angularfire/firebase.utils.js"></script>
<script src="scripts/controllers/current.js"></script>
<script src="scripts/filters/reverse.js"></script>
<script src="scripts/angularfire/simpleLogin.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/account.js"></script>
<script src="scripts/directives/ngShowAuth.js"></script>
<script src="scripts/directives/ngHideAuth.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/controllers/left.js"></script>
<script src="scripts/controllers/toast.js"></script>
<script src="scripts/directives/ig.js"></script>
<script src="scripts/controllers/app.js"></script>
<script src="scripts/services/menu.js"></script>
<script src="scripts/filters/humanizedoc.js"></script>
<script src="scripts/filters/directivebrackets.js"></script>
<!-- endbuild -->
</body>
</html>
