<md-content>
    <div layout="vertical">

        <div ng-include="'views/partials/start-lights.html'"></div>

        <div ng-include="'views/partials/drivers.html'"></div>

        <div layout="vertical" layout-sm="horizontal" layout-padding>
            <div flex>
                <div ng-include="'views/partials/race-table.html'"></div>
            </div>

            <div flex ng-if="qualifying.status==='qualifying'">
                <div ng-include="'views/partials/quali-table.html'"></div>
            </div>
        </div>
        <p class="alert alert-danger" ng-show="err">{{err}}</p>
    </div>

</md-content>