<md-content class="md-content-padding">


    <form role="form">

        <md-text-float label="Email" ng-model="email"></md-text-float>
        <md-text-float label="Password" ng-model="pass" type="password"></md-text-float>
        <md-text-float label="Confirm password" ng-cloak ng-show="createMode" ng-model="confirm"
                       type="password"></md-text-float>

        <p>
            <md-button class="md-button-raised md-button-colored" ng-click="passwordLogin(email, pass)"
                       ng-disabled="!!email && !!pass" ng-hide="createMode">Log In
            </md-button>
            <md-button class="md-button-raised" ng-click="createMode = true" ng-hide="createMode">Register</md-button>
            <md-button class="md-button-raised md-button-colored" ng-cloak ng-show="createMode"
                       ng-click="createAccount(email, pass, confirm)">Create Account
            </md-button>
            <md-button class="md-button-raised" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel
            </md-button>
        </p>
    </form>

    <md-button class="md-button-raised" ng-click="oauthlogin('facebook')">Facebook</md-button>
    <md-button class="md-button-raised" ng-click="oauthlogin('google')">Google</md-button>
    <md-button class="md-button-raised" ng-click="oauthlogin('github')">GitHub</md-button>

    <p ng-show="err" class="bg-danger">{{err}}</p>
</md-content>