<md-content>
    <h1>Welcome to Confinale Race View</h1>

    <div layout="vertical" layout-padding>
        <div ng-repeat="section in menu.sections">

            <md-button class="md-button-raised"
                       ng-show="menu.showPage(section, page)"
                       ng-repeat="page in section.pages"
                       ng-class="{active: menu.isPageSelected(section, page)}"
                       ng-click="menu.goto(page.url)"
                       ink-ripple>
                <span ng-bind="page | humanizeDoc"></span>
            </md-button>

        </div>
    </div>
</md-content>