<md-content>
    <div layout="vertical">
        <h3 class="layout-title">Current Requests</h3>
        <table class="table table-hover">
            <tr ng-repeat="request in raceRequests | orderBy:'timestamp':true">
                <td>
                    <div ng-style="{'background-image': 'url(\'' + users[request.uid].pictureUrl + '\')' }"
                         class="profile-pic"></div>
                </td>
                <td>{{users[request.uid].displayName}}</td>
                <td>{{request.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                <td>
                    <div ng-if="hasCar(request)"
                         ng-style="{'background-image': 'url(\'/images/cars/' + cars[getCar(request).id].image + '.png\')' }"
                         class="car-pic"></div>
                </td>
                <td ng-show="menu.isConfinale()">
                    <md-button class="md-button-raised" ng-click="showAssignCarDialog($event,request)">assign
                    </md-button>
                </td>
                <td ng-show="menu.isConfinale()">
                <md-button ng-click="removeRequest(request)">remove</md-button>
                </td>
            </tr>
        </table>

        <md-button ng-show-auth class="md-button-raised md-button-colored"
                   ng-click="requestRaceParticipation(currentUser)" ng-show="canAddToRaceList(currentUser)">request race
            participation
        </md-button>
    </div>
</md-content>
