<md-content>
    <div layout="vertical">
        <h3 class="layout-title">Race Graphic</h3>

        <div>
            <a href="https://plot.ly/~gitu/257/" target="_blank" title="Race Times" style="display: block; text-align: center;">
                <img src="https://plot.ly/~gitu/257.png" alt="Race Times" style="max-width: 100%;width: 100%"
                     onerror="this.onerror=null;this.src='https://plot.ly/404.png';"/></a>
            <script data-plotly="gitu:257" src="https://plot.ly/embed.js" async></script>
        </div>
    </div>
</md-content>